/* formatting to make map show up*/
html,
body {
	height: 100%;
}

#map {
	height: 100%;
}

/* search bar formatting */
h4 {
	display: inline-block;
}

/* list view formatting */
li {
	list-style-type: none;
}

.cursor:hover {
	cursor: pointer;
}

.listView h4 {
	margin-top: 0;
	margin-bottom: 0;
}